.ProductAdd_Page {
    font-size: 60px;
    text-align: left;
    margin: 43px;
}

.ProductAdd_Container {
    width: calc(100vw - 750px);
    margin: auto;
    height: auto;
    margin-top: 80px;
}

.ProductAdd_Btn_Container {
    float: right;
    margin-right: 30px;
}

.ProductAdd_Btn_Container>button {
    background-color: white;
    font-size: 28px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.ProductAdd_Btn_Container>a>button {
    background-color: white;
    font-size: 28px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.ProductAdd_Btn_Container>button:nth-child(3) {
    background-color: #485BFF;
    color: white;
}

.Image_Plus {
    background-color: white;
    float: left;
    border: solid black 1px;
    width: 35%;
    border-radius: 10px;
    text-align: center;
}

.Image_Plus>div {
    font-size: 28px;
    margin: 20px 30px 20px 30px;
    text-align: start;
}

.Image_Plus>div>button {
    float: right;
    background-color: #477BB5;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin: -4px;
    border-radius: 5px;
    border: 0;

}

.Product_Info {
    background-color: white;
    float: right;
    border: solid black 1px;
    width: 60%;
    border-radius: 10px;
}

.Image_Plus>img {
    width: 200px;
    height: 225px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.P_Info_Categori {
    font-size: 28px;
    margin: 20px 30px 20px 30px;
    text-align: start;
}

.input_Info_P {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.input_Info_P:nth-child(6) {
    margin-bottom: 130px;
}

.input_Info_P>span {
    align-items: center;
    font-size: 18px;
    display: flex;
    text-align: center;
}

.input_Select {
    font-size: 18px;
    width: 425px;
    height: 35px;
    border-radius: 5px;
}

.input_Info_P>input {
    border-radius: 5px;
    font-size: 18px;
    width: 425px;
    height: 35px;
}

.switch_P {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 365px;

}

.switch_P input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_P {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_P::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider_P {
    background-color: #2196F3;
}

input:focus+.slider_P {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider_P:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}