.D_cancle_btn {
    margin: 15px;
    background-color: #FFFFFF;
    border: 1;
    border-radius: 15px;
    font-size: 28px;
    margin-left: 900px;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
}

.D_save_btn {
    margin: 15px;
    background-color: #485BFF;
    border: 1;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    margin-left: 10px;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
}

.detailcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 75px;
    font-size: 2rem;
    
  }
  
  .detailcontainer1 {
    width: 600px;
    height: 450px;
    border: 1px solid #000;
    margin-right: 25px; 
    background: white;
    /* padding-left: 100px; */
    border-radius: 10px;
    box-shadow: 1px 1px 3px ;
  }
  .detailcontainer-right{
    width: 550px;
  }

  .detailcontainer1 > p:nth-child(1){
    margin-left: 40px;
  }

  .profile_box {
    width: 90%;
    margin: auto;
    border-top: 1px solid black;
  }

  .profile_box > p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile_box > p > span {
    width: 100px;
  }

  .profile_box > p > input {
    height: 50px;
    padding: 10px;
  }


  .detailcontainer2 {
    height: 225px;
    flex: 1;
    border: 1px solid #000;
    margin-bottom: 25px;
    background: white;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px ;
  }
  
  .detailright_box {
    width: 90%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .detailright_box > div {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
  }





  .detailcontainer3 {
    height: 200px;
    border: 1px solid #000;
    background: white;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px ;
  }

  .detailright_box2 {
    width: 90%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
  }

  .profile-font, .profile-font1{
    font-size: 1.3rem;
  }
  
  .no-margin{
    margin-top: 0; /* 위쪽 마진 제거 */
  margin-bottom: 0; /* 아래쪽 마진 제거 */
  }