.Product_Page {
  font-size: 60px;
  text-align: left;
  margin: 43px;
}

.p_title_container {
  width: 100%;
  height: 150px;
  background-color: white;
  text-align: left;
  line-height: 150px;
  font-size: 3rem;
  padding-left: 100px;
}

.P_Btn_Container {
  display: flex;
  background-color: #d4fcff;
  margin-bottom: 30px;
}

.P_Btn_Css {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  border: 0;
  background-color: transparent;
  margin: 30px 40px 30px 40px;
  cursor: pointer;
}

.Inner_Btn_box {
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  flex-grow: 1;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 7px 15px 7px 15px;
  margin: 0px 10px 0px 10px;
}

.P_Btn_Css:nth-child(1) {
  margin-left: 100px;
}

.New_Product {
  margin: 15px;
  background-color: #485bff;
  border: 0;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  margin-left: 550px;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
}

.Product_bar {
  background-color: #d4fcff;
  width: 75%;
  margin: auto;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product_bar > span {
  width: 20%;
  height: 40px;
  font-size: 20px;
  justify-content: center;
  line-height: 40px;
  /* margin: 15px; */
}

.P_list_container {
  width: 75%;
  margin: auto;
}

.Listli {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 55px;
}

.Listli::after {
  width: 100%;
  border-bottom: solid 1px black;
}

.Listli > span {
  width: 20%;
}

.P_list_btn {
  background-color: #d4fcff;
  width: 50px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.P_list_Img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
