.main_outlet {
  width: 81%;
  text-align: center;
}

.index_titlecontainer {
  width: 100%;
  height: 130px;
  line-height: 130px;
  font-size: 3.5rem;
  text-align: left;
  padding-left: 100px;
  /* background-color: grey; */
}

.index_maincontainer {
  width: 100%;
  height: 90.62%;
  background-color: var(--pink);
}
